.container {
    box-sizing: border-box;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    padding:70px 0px;
    color: #fff;
}

.div {
    background-color: #009BFF;
    height: 1px;
}

.img {
    max-width: 100%;
    border-radius: 15px;
}

.title {
    font-size: 1fr;
    color: #009BFF;
}

.button {
    width: 60%;
    margin-top: 10px ;
}

.divLButton {
    display: none;
    text-align: center;
    width: 100%;
}

.divRButton {
    display: block;
    text-align: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 768px) {

    .title {
        text-align: center;
    }

    .img{
        display: none;
    }
} 

@media (min-width: 768px) and (max-width: 930px) {
    .button {
        width: 100%;
        margin-top: 30px ;
    }

    .divLButton {
        display: block;
    }

    .divRButton {
        display: none;
    }
}